
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Library System</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style1.css">
    <link rel="icon" href="static/img/logo.jpg" type="image/icon type">
    <!-- Custom styles for this template -->
</head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Library</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="/Librarian">Librarians</a>
            <a class="nav-link" href="/Students">Students</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Library</h1>
        <p class="lead">This web page is specially used by Students and Librarians. Students Can View there Checked in and Librarians can manage the Library book </p>
       <div>
       <br>
        
        
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
         <p >-----STEPS TO FOLLOW-----</p>
        <ul  style="list-style-type: none;">
        <li style="background-color:black;  padding:10px;">For Librarians access, the head will create the account of the staff</li><br>
        <li style="background-color:black;  padding:10px;">For Trial take lib@gmail.com,lib as username and password</li><br>
        <li style="background-color:black;  padding:10px;">Also register the student and book And Issue them books and return</li><br>
        </ul>
        </div>
      </footer>
    </div>
    
  </body>
</html>
