{% extends 'base.html' %}
{% block title%} Book {% endblock title%}
{% block link %} <link rel="stylesheet" href="static/css/style3.css">  {%endblock link%}
 {% block nav1 %} <li class="nav-item"> {% endblock nav1%} 
 {% block nav2 %}<li class="nav-item active">{% endblock nav2%} 
 {% block nav3 %}<li class="nav-item"> {% endblock nav3%} 
  {% block nav4 %}<li class="nav-item"> {% endblock nav4%} 
   {% block nav5 %}<li class="nav-item"> {% endblock nav5%} 
{% block div%} 
<br><br>
<div class="container bg-white">  
<br><br>
<center>
<div  class="format"><i class="i1 fa fa-book" style="font-size:36px"> </i> <a href="/booklib">  BOOKS IN LIBRARY</a></div>
<div class="format"><i class="i1 fa fa-list" style="font-size:36px"> </i> <a href="/bookava"> AVAILABLE BOOKS</a> </div>
<div class="format"><i class="i1 fa fa-indent" style="font-size:36px"> </i><a href="/insertbook">  INSERT NEW BOOKS </a> </div>
</center>

<br><br>
</div> 

{% endblock div%}